APP_NAME=Cuepoint
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cuepoint
DB_USERNAME=root
DB_PASSWORD=hcl55Tijger10!

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

MEDIA_DISK=original

AUDIO_PLAYBACK_FORMAT=opus
AUDIO_WAVEFORM_FORMATS=mp3,wav,flac,ogg,vorbis,opus

AUDIO_WAVEFORM_DATA_FORMAT=dat
AUDIO_WAVEFORM_IMAGE_FORMAT=png

AUDIO_WAVEFORM_4K_WIDTH=3840
AUDIO_WAVEFORM_4K_HEIGHT=250
AUDIO_WAVEFORM_2K_WIDTH=2560
AUDIO_WAVEFORM_2K_HEIGHT=200
AUDIO_WAVEFORM_DESKTOP_WIDTH=1920
AUDIO_WAVEFORM_DESKTOP_HEIGHT=200
AUDIO_WAVEFORM_LAPTOP_WIDTH=1280
AUDIO_WAVEFORM_LAPTOP_HEIGHT=200
AUDIO_WAVEFORM_LARGE_TABLET_WIDTH=1024
AUDIO_WAVEFORM_LARGE_TABLET_HEIGHT=150
AUDIO_WAVEFORM_MEDIUM_TABLET_WIDTH=768
AUDIO_WAVEFORM_MEDIUM_TABLET_HEIGHT=150
AUDIO_WAVEFORM_LARGE_MOBILE_WIDTH=640
AUDIO_WAVEFORM_LARGE_MOBILE_HEIGHT=150
AUDIO_WAVEFORM_SMALL_MOBILE_WIDTH=360
AUDIO_WAVEFORM_SMALL_MOBILE_HEIGHT=100
